<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>

<body ng-app="starter">

    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Photo App</h1>
        </ion-header-bar>
        <ion-tabs class="tabs-striped tabs-color-positive">
            <ion-tab title="Home" icon-on="ion-home" icon-off="ion-home" ng-controller="HomeController as home">
                <ion-view>
                    <ion-content>
                        <h1>Home</h1>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Camera" icon-on="ion-ios-camera" icon-off="ion-ios-camera" ng-controller="CameraController as ctrl" on-select="ctrl.onTabSelect()">
                <ion-view>
                    <filter-bar></filter-bar>
                    <ion-content>
                        <h1>Camera</h1>
                        <div class="card" ng-if="ctrl.foto">
                            <div class="item item-image">
                                <img ng-src="{{ctrl.foto}}" />
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Gallery" icon-on="ion-images" icon-off="ion-images" ng-controller="GalleryController as ctrl" on-select="ctrl.onTabSelect()">
                <ion-view>
                    <filter-bar></filter-bar>
                    <ion-content>
                        <h1>Gallery</h1>
                        <div class="card" ng-if="ctrl.foto">
                            <div class="item item-image">
                                <img ng-src="{{ctrl.foto}}" />
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-pane>
</body>

</html>