<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="js/vendor/caman.full.min.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/vendor/ng-cordova.min.js"></script>
    <script src="js/vendor/lodash.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="lib/ionic-toast/dist/ionic-toast.bundle.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="starter" ng-cloak="">
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Photo App</h1>
        </ion-header-bar>
        <ion-tabs class="tabs-striped tabs-color-positive">
            <ion-tab title="Home" icon-on="ion-home" icon-off="ion-home" ng-controller="HomeController as ctrl">
                <ion-view>
                    <ion-content>
                        <div ng-repeat="image in ctrl.images track by $index">
                            <div class="row" ng-if="$index % 3 === 0">
                                <div class="col-33" ng-click="ctrl.showModal(ctrl.images[$index])">
                                    <div class="car">
                                        <div class="item item-image">
                                            <img ng-src="{{image.dataUrl}}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-33" ng-if="$index + 1 < ctrl.images.length" ng-click="ctrl.showModal(ctrl.images[$index + 1])">
                                    <div class="car">
                                        <div class="item item-image">
                                            <img ng-src="{{ctrl.images[$index + 1].dataUrl}}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-33" ng-if="$index + 2 < ctrl.images.length" ng-click="ctrl.showModal(ctrl.images[$index + 2])">
                                    <div class="car">
                                        <div class="item item-image">
                                            <img ng-src="{{ctrl.images[$index + 2].dataUrl}}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Camera" icon-on="ion-ios-camera" icon-off="ion-ios-camera" ng-controller="CameraController as ctrl" on-select="ctrl.onTabSelect()">
                <ion-view>
                    <filter-bar></filter-bar>
                    <ion-content>
                        <div class="card" ng-if="ctrl.foto">
                            <div class="item item-divider">
                                <button class="button button-clear icon-left ion-heart" ng-click="ctrl.onSave()">Clique para salvar</button>
                            </div>
                            <div class="item item-image">
                                <img ng-src="{{ctrl.foto}}" id="fotoImage" class="full-size" />
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Gallery" icon-on="ion-images" icon-off="ion-images" ng-controller="GalleryController as ctrl" on-select="ctrl.onTabSelect()">
                <ion-view>
                    <filter-bar></filter-bar>
                    <ion-content>
                        <div class="card" ng-if="ctrl.foto">
                            <div class="item item-divider">
                                <button class="button button-clear icon-left ion-heart" ng-click="ctrl.onSave()">Clique para salvar</button>
                            </div>
                            <div class="item item-image">
                                <img ng-src="{{ctrl.foto}}" id="galleryImage" class="image-filter" />
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-tab>
        </ion-tabs>
        <script type="text/ng-template" id="image-modal.html">
            <div class="modal card transparent">
                <ion-pane class="transparent">
                    <div class="item item-image transparent">
                        <img ng-src="{{ctrl.imageModal.dataUrl}}" alt="" />
                    </div>
                    <div class="item item-divider">
                        <div class="button-bar">
                            <button class="button button-assertive" ng-click="ctrl.deleteImage(ctrl.imageModal)">Excluir</button>
                            <button class="button button-positive" ng-click="ctrl.closeModal()">Fechar</button>
                        </div>
                    </div>
                </ion-pane>
            </div>
        </script>
    </ion-pane>
</body>

</html>