/* Empty. Add your own CSS if you like */
.image-filter, .item-body > img {
    width: 100%;
}

.button-clear.ion-heart {
    color: #ff0000;
}

.transparent {
    background: transparent !important;
}

.pane.transparent {
    width: 80%;
    margin: 0 auto;
}

ion-pane > div.item.item-image.transparent {
    max-height: 80%;
}